# Python
__pycache__/
*.pyc
db.sqlite3

# Node
node_modules/
build/

# Environment
.env

# OS
.DS_Store
Thumbs.db

# Large files (datasets/models)
*.pkl
*.h5
*.csv
*.zip
/model/
backend/**/models/
backend/**/data/
backend/**/ml/
